<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Pagina no encontrada</title>
</head>

<body>
  <main class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">404</span>
          <div class="mb-4 lead">
            La pagina que buscas no se es parte de la implementación
          </div>
          <a href="http://localhost:8080/" class="btn btn-link">Ir al inicio</a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>