<body>
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-6">
        <div class="restaurant-info">
          <h2><%= data.canteen.name %></h2>
          <p class="address">Dirección: <%= data.canteen.address %></p>
          <p class="phone">Teléfono: <%= data.canteen.telephone %></p>
          <p class="email">Email: <%= data.canteen.email %></p>
        </div>
      </div>
    </div>
  </div>
</body>