<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div style="display: flex; align-items: center; justify-content: center; height: 300px; font-size: 24px; color: #999;">
        <p>No hay contenido que mostrar</p>
      </div>
    </div>
  </div>
</div>