<nav class="navbar navbar-expand-lg navbar">
  <a class="navbar-brand" href="/user/index" target="_self" title="Home"><span class="logo"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="bi-list" style="color: #fff; font-size:30px;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="navbar-menu-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Comedores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% canteens.forEach(function(canteen, index) { %>
          <a class="dropdown-item" href=<%= `canteen/${canteen.id}`%>><%= canteen.name %></a>
          <% }) %>
        </div>
      </li>
      <li class="navbar-menu-item">
        <a class="nav-link" href="/404">Comensales</a>
      </li>
      <li class="navbar-menu-item">
        <a class="nav-link" href="/404">Compras</a>
      </li>
      <li class="navbar-menu-item">
        <a class="nav-link" href="/404">Perfil</a>
      </li>
    </ul>
  </div>
</nav>