<nav class="navbar navbar-expand-lg navbar">
  <a class="navbar-brand" href="/user/index" target="_self" title="Home"><span class="logo"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/404">Comensales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/404">Comedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/404">Compras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/404">Perfil</a>
      </li>
    </ul>
  </div>
</nav>