<!-- content.ejs -->
<div class="col-md-9">
  <% if (view === 'dashboard') { %>
  <!-- Contenido del dashboard -->

  <!-- Aquí puedes incluir el contenido específico del dashboard -->
  <% } else if (view === 'addDishe') { %> <%- include('../addDishe') %> <% }
  else if (view === 'addOrder') { %> <%- include('../addOrder') %> <% } %>
</div>
