<!-- navbar.ejs -->
<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/index" target="_self" title="Home"
        ><span class="logo"></span
      ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-cogs"></i> Administración
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-edit"></i> Editar Información del comedor
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-tasks"></i> Administrar pedidos
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      href="/admin/index/order"
                      title="Registrar Pedido"
                      target="_self"
                    >
                      <i class="fa fa-shopping-basket"></i> Registrar Pedido
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-users"></i> Administrar grupos
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list"></i> Lista de Grupos
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user-plus"></i> Registrar nuevo comensal
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-users"></i> Comensales
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/admin/index/group/edit">
                      <i class="fas fa-edit"></i> Editar
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/admin/index/group/add">
                      <i class="fas fa-trash"></i> Eliminar
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="/admin/index/group/add"
                      title="Crear nuevo grupo de comensales"
                      target="_self"
                    >
                      <i class="fas fa-user-plus"></i> Registrar nuevo grupo
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-utensils"></i> Administrar menús
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-utensil-spoon"></i> Lista de ítems del
                      menú (platos)
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="/admin/index/dishe"
                      title="Agregar plato al menú"
                      target="_self"
                    >
                      <i class="fas fa-plus"></i> Agregar plato al menú
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-calendar-alt"></i> Administrar menú diario
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list"></i> Lista de menús diarios creados
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-calendar-plus"></i> Agregar menú diario
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i> Administrador
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fas fa-user-circle"></i> Perfil</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="/admin/index/logout"
              ><i class="fas fa-sign-out-alt"></i> Salir</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
