<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Administración de Cantina</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Administración
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  >Editar Información del comedor</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#">Administrar pedidos</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Administrar grupos</a>
              </li>
              <li class="dropdown-submenu">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Administrar menús
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      >Lista de ítems del menú (platos)</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="/admin/home/agregarPlato"
                      target="_self"
                      title="Agregar un plato al menú"
                      >Agregar plato al menú</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a
                  class="dropdown-item dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Administrar menú diario
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      >Lista de menús diarios creados</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Agregar menú diario</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Administrador
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="adminDropdown"
        >
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
