<!-- sidebar.ejs -->
<div class="col-md-3 bg-light">
  <style>
    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
  <div class="container">
    <div class="card-deck">
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-edit"></i> Editar Información del comedor
            </h5>
            <p class="card-text">
              Aquí puedes editar la información del comedor.
            </p>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-tasks"></i> Administrar pedidos
            </h5>
            <p class="card-text">
              Aquí puedes administrar los pedidos realizados.
            </p>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-users"></i> Administrar grupos
            </h5>
            <p class="card-text">
              Aquí puedes administrar los grupos de usuarios.
            </p>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-utensils"></i> Administrar menús
            </h5>
            <p class="card-text">
              Aquí puedes administrar los menús del comedor.
            </p>
            <div class="isubmenu">
              <i class="fas fa-utensil-spoon"></i> Lista de ítems del menú
              (platos)
              <a
                href="/admin/index/agregarPlato"
                target="_self"
                title="Agregar un plato al menú"
                class="isubmenu-link"
              >
                <i class="fas fa-plus"></i> Agregar plato al menú
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-calendar-alt"></i> Administrar menú diario
            </h5>
            <p class="card-text">
              Aquí puedes administrar los menús diarios del comedor.
            </p>
            <div class="isubmenu">
              <a href="#" class="isubmenu-link">
                <i class="fas fa-list"></i> Lista de menús diarios creados
              </a>
              <a href="#" class="isubmenu-link">
                <i class="fas fa-calendar-plus"></i> Agregar menú diario
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
