<!-- sidebar.ejs -->
<div class="col-md-3">
  <div class="container scrollable-menu" data-simplebar>
    <div class="card-deck">
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-edit"></i> Editar Información del comedor
            </h5>
            <p class="card-text">
              Aquí puedes editar la información del comedor.
            </p>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-tasks"></i> Administrar pedidos
            </h5>
            <p class="card-text">
              Aquí puedes administrar los pedidos realizados.
            </p>
            <div class="isubmenu">
              <a
                href="/admin/index/order"
                title="Registrar un pedido a un comensal"
                class="isubmenu-link"
              >
                <i class="fa fa-shopping-basket"></i> Registrar Pedido
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-users"></i> Administrar Grupos
            </h5>
            <p class="card-text">
              Aquí puedes administrar los grupos de comensales.
            </p>
            <div class="isubmenu">
              <a href="#" class="isubmenu-link">
                <i class="fas fa-list"></i> Lista de Grupos
              </a>
              <a href="/admin/index/diner/add" class="isubmenu-link">
                <i class="fas fa-user-plus"></i> Registrar Nuevo Comensal
              </a>
              <a href="#" class="isubmenu-link">
                <i class="fas fa-users"></i> Comensales
              </a>
              <a href="/admin/index/group/edit" class="isubmenu-link">
                <i class="fas fa-edit"></i> Editar
              </a>
              <a href="/admin/index/group/delete" class="isubmenu-link">
                <i class="fas fa-trash"></i> Eliminar
              </a>
              <a href="/admin/index/group/add" class="isubmenu-link">
                <i class="fas fa-plus"></i> Registrar Nuevo Grupo
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-utensils"></i> Administrar menús
            </h5>
            <p class="card-text">
              Aquí puedes administrar los menús del comedor.
            </p>
            <div class="isubmenu">
              <i class="fas fa-utensil-spoon"></i> Lista de ítems del menú
              (platos)
              <a
                href="/admin/index/dishe"
                title="Agrega un plato al menú"
                class="isubmenu-link"
              >
                <i class="fas fa-plus"></i> Agregar plato al menú
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-calendar-alt"></i> Administrar menú diario
            </h5>
            <p class="card-text">
              Aquí puedes administrar los menús diarios del comedor.
            </p>
            <div class="isubmenu">
              <a href="#" class="isubmenu-link">
                <i class="fas fa-list"></i> Lista de menús diarios creados
              </a>
              <a href="#" class="isubmenu-link">
                <i class="fas fa-calendar-plus"></i> Agregar menú diario
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
